@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

$unActive: #42204e;
$textColor: #8b5d9a;
$gradient: linear-gradient(90deg, rgb(238, 9, 121) 13%, rgb(255, 106, 0) 87%);
