@import "../modal/modal.component.scss";

.modal__text {
    &-content {
        a {
            font-style: italic;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gradient;
        }
    }
    &-title,
    h1,
    &-question {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-question {
        flex-direction: column;
    }
    h2 {
        color: #fff;
    }
    &-title {
        position: relative;
        h1 {
            text-align: center;
            font-size: 76px;
            &::after,
            &::before {
                content: "";
                background: linear-gradient(
                    38deg,
                    rgb(238, 9, 121) 40%,
                    rgb(255, 106, 0) 65%
                );
                display: inline-block;
                width: 65px;
                height: 2px;
            }
            &::after {
                background: linear-gradient(
                    38deg,
                    rgb(255, 106, 0) 40%,
                    rgb(238, 9, 121) 65%
                );
            }
        }
    }

    &-subtitle {
        margin-bottom: 25px;
        &::after {
            content: "📌";
            font-size: 30px;
            display: inline;
        }
    }
    &-question {
        margin-bottom: 35px;
        &::after {
            content: "";
            margin-top: 25px;
            width: 60%;
            height: 2px;
            background: linear-gradient(
                90deg,
                rgb(238, 9, 121) 13%,
                rgb(255, 106, 0) 87%
            );
        }
    }
}

@media (min-width: 768px) {
    .modal__text {
        &-title {
            h1 {
                &::after,
                &::before {
                    width: 100px;
                }
            }
        }
    }
}
