<div class="container">
    <section class="found">
        <div class="found__inner">
            <div class="found__text">
                <h1 class="found__text-title">404</h1>
                <p class="found__text-subText">
                    I think you are lost, don't worry, the button below will
                    help you
                </p>
            </div>
            <button routerLink="/storage" class="item__button">
                Come back
            </button>
        </div>
    </section>
</div>
