@import "./app/styles/colors.scss";
@import "./app/styles/icon-fonts.scss";
@import "./app/styles/normalize.scss";

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 22px;
    }
}
