<div class="wrapper">
    <!-- <div class="content-block">
        <router-outlet></router-outlet>
    </div> -->

    <!-- <app-menu class="menu"></app-menu> -->
    <div class="content-block">
        <!-- <app-header></app-header> -->
        <router-outlet></router-outlet>
        <app-modal></app-modal>
        <app-prompt-delete></app-prompt-delete>
        <app-registration></app-registration>
        <app-burger-modal></app-burger-modal>
        <app-response-search></app-response-search>
        <app-delete-account></app-delete-account>
        <app-change-logo></app-change-logo>
        <app-tutorial></app-tutorial>
    </div>
</div>
